{% extends 'base.html.twig' %}

{% block header %}
  <header>
    <h1>
      <a href="{{ path("homepage") }}">
        <img width="500" alt="Danvalber Graphic Designer" src="{{ asset("img/home/danvalber.png") }}" />
      </a>
    </h1>
  </header>
{% endblock %}
